<footer>
  <div class="wrapper-footer">
    <div class="container footer-container">
      <div class="footer-text">3rd Floor, Santa Monica Beach, CA, San Francisco</div>
      <div class="footer-info">(359) 0 123 456 789 - info@yourmail.com</div>
      <div class="footer-social">
        <a href="#">
          <img src="assets/icon/footer/facebook.svg" alt="">
        </a>
        <a href="#">
          <img src="assets/icon/footer/twitter.svg" alt="">
        </a>
        <a href="#">
          <img src="assets/icon/footer/pinterest.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container copyright-container ">
      Copyright 2023 - All Rights Reserved - Designed by JD
    </div>
  </div>
</footer>
