<section class="section-services">
  <div class="container">
    <div class="services-title">
      <div class="we-are-title">Our Services</div>
      <div class="svg">
        <svg width="45" height="2" viewBox="0 0 45 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="45" height="2" fill="#252525" />
        </svg>
      </div>
    </div>
    <div class="services-wrapper">
      <div class="services-card" *ngFor="let item of card">
        <div class="card">
          <div class="card-title-container">
            <div class="card-title">
              <div>{{item.title}}</div>
              <div><img [src]="item.svg" alt="arrow"></div>
            </div>
            <div class="card-title-icon">
              <img [src]="item.icon" alt="icon">
            </div>
          </div>
          <div class="card-content text">
            {{item.text}}
          </div>
          <div class="card-button">
            <button class="btn" type="button">read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
