<section class="section-we-are">
  <div class="container">
    <div class="wrapper">
      <div class="title-text">
        <div class="we-are-title">WE ARE</div>
        <div class="we-are-subtitle">THE SQWD</div>
        <div class="we-are-text">
          <div class="svg">
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="20" height="2" fill="#353535" />
            </svg>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </div>
        </div>
      </div>
      <div class="img img-first"><img src="assets/images/We-Are/we-are-first.png" alt=""></div>
      <div class="img img-green-box"><img src="assets/images/We-Are/we-are-green-box.png" alt=""></div>
      <div class="img img-second"><img src="assets/images/We-Are/we-are-second.png" alt=""></div>
      <div class="text-content">
        <div class="svg">
          <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="2" fill="#353535" />
          </svg>
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        </div>
      </div>
    </div>
  </div>
</section>
