<section class="section-home">
  <div class="container">
    <div class="nav">
      <div class="logo">
        SQWD
      </div>
      <nav class="navigation">
        <ul>
        <li class="link" href="#">WORKS</li>
        <li class="link" href="#">ABOUT</li>
        <li class="link" href="#">SERVICES</li>
        <li class="link" href="#">BLOG</li>
        <li class="link" href="#">CONTACT</li>
      </ul>
      </nav>
      <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="#">WORKS</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title">
      WHERE GREAT IDEAS COME TO LIFE
    </div>
    <div class="subtitle">
      Passionate creative studio helping startups grow their business!
    </div>
    <div class="number-string">
      01
    </div>
  </div>
</section>
