@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

body{
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  margin: 0;

}
.container{
  max-width: 1140px;
  margin: auto;
}

// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
